body{
    margin: 0;
    padding: 0;
}
header {
    padding: 25px;
    background-color: aliceblue;
    text-align: center;
}
row{
    display: flex;
    flex-wrap: wrap;
}
main{
    padding: 20px;
    flex: 100px;
    text-align: center;
background-color: aquamarine;
}
section{
    padding: 20px;
    flex: 30%;
    text-align: center;
background-color: skyblue; 
}
aside{
    padding: 20px;
    flex: 30%;
    text-align: center;
background-color: gold; 
}
footer{
    padding: 20px;
    flex: 100%;
    text-align: center;
background-color: springgreen; 
}